body {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 6vmax;
  line-height: 1.3;
  font-weight: 300;
}

h2 {
  font-size: 4vmin;
  line-height: 1.5;
  margin-bottom: 30px;
}

ul {
  list-style: circle;
}

li {
  font-size: 4vmin;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: left;
}

img {
  max-width: 60%;
}
